{% extends 'base.html.twig' %}

{% block menu %}

    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('app_images_imagelist') }}">Лента</a> /
            <a href="{{ path('app_user_personalarea') }}">Личный кабинет</a>
            <br>
            <a href="{{ path('fos_user_security_logout') }}">
                Выйти
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}
{% block content %}




        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}