{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
    <h1>ЛИЧНЫЙ КАБИНЕТ</h1>
    <p>Ваш nickname: {{ user.username }}</p>
    <p>Ваш email:  {{ user.email }}</p>
    <hr>
    <p style="font-size: 30px">Форма публикации</p>
    {{ include('@App/images/imageType.html.twig', { 'form': form }) }}

    <hr>

    <h2>ВАШИ ПУБЛИКАЦИИ</h2>
    {% for image in posts %}

        <div style="height: 250px; border: 3px solid" class="col-md-3">
            <img width="170" height="170" src="{{ vich_uploader_asset(image, 'imageFile') }}" />
            <br>
            {{ image.title }}
        </div>

    {% else %}
        <p>Ни одной публикации</p>
    {% endfor %}
{% endblock %}