{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:ImagesControlles:newImgage{% endblock %}

{% block body %}
    <h1>ЛЕНТА</h1>


    {{ include('@App/images/imageType.html.twig', { 'form': form }) }}

    {% for value in comments %}

       <div style="border: 1px solid; padding: 40px; margin: 5px">
           {{ value.getUser }} - прокоментировал(а) запись : <br> {{ value.comment }}
       </div>
    {% else %}
        <p>Ни одной публикации</p>
    {% endfor %}

{% endblock %}
