{% extends "@FOSUser/layout.html.twig" %}

{% block title %}AppBundle:ImagesControlles:newImgage{% endblock %}

{% block body %}
        <h1>ЛЕНТА</h1>



    {% for image in images %}
            <div style="border-radius: 5px; height: 520px; margin-bottom:5px; border: 3px solid; padding: 5px" class="col-md-12">
                <img class="col-md-6" height="500" src="{{ vich_uploader_asset(image, 'imageFile') }}" />
                <br>
                    {{ image.title }}
                <p>Опубликовал(а) - {{ image.user }} </p>
                {% if(image.user.hasFollower(user)) %}
                    <p>Вы подписаны на чувака</p>
                    <p><a href="{{ path('app_user_removefollowers', {'id' : image.user.id })}}">Отписаться</a></p>
                {% else %}
                     {% if(image.user.id == user.id) %}
                       <p> Это ваша публикация</p>
                      {% else %}
                        <p><a href="{{ path('app_user_addfollowers', {'id' : image.user.id })}}">Подписаться</a></p>
                     {% endif %}
                {% endif %}

                        {{ image.countLikers }}

                {% if(image.contains(user)) %}
                    <a href="{{ path('app_images_removelikes', {'id' : image.user.id })}}"><span style="color: #EE2412; font-size: 25px; font-family: 'Comic Sans MS';">&hearts;</span></a>
                {% else %}
                    <a href="{{ path('app_images_addlikes', {'id' : image.user.id })}}"><span style="color: #EE2412; font-size: 25px; font-family: 'Comic Sans MS';">&hearts;</span></a>

                {% endif %}
                <p><a href="{{ path('app_images_commentlist',{'id' : image.user.id }) }}">Комментарии</a></p>

            </div>

    {% else %}
        <p>Ни одной публикации</p>
    {% endfor %}

{% endblock %}
